*{
    padding: 0;
    margin: 0;
    --theme-blue: #1F5D7C;
}

body{
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    text-decoration: none;
    color: var(--theme-blue);
}

.logo-container{
    flex: 1;
    background: url("nima-sarram-G5oJ4BiqUP0-unsplash.jpg");
    background-position: 50%;
    background-size: cover;
    min-height: 100vh;
}

.logo-container img{
    width: 1.5em;
    height: 1.5em;
    padding-right: .2em;
    align-self: center;
}

.logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #53635d18;
    text-align: center;
    margin-top: 16.5vh;
    padding-top: .4em;
    padding-bottom: .4em ;
    font-size: 65px;
    font-family: "MuseoModerno", serif;
}

.odin{
    padding-left: .2em;
    padding-right: .2em;
    color: var(--theme-blue);
}

.form-container{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f6ebe54f;
}

.blurb{
    flex: 1;
    font-size: 1.5rem;
}

h2{
    padding-top: .5em;
    padding-bottom: .5em;
}

.topPar{
    padding-top: 3em;
    padding-bottom: 1em;
}


.form{
    background-color: #53635d18;
    flex: 1;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.219);
}

.logIn{
    flex: 1;
}

.center{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.padd{
    padding-left: 10%;
    padding-right: 30%;
}

form{
    display: flex;
    flex-wrap: wrap;
}

.item{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 50%;
    margin-top: .7em;
    margin-bottom: .7em;
}

input:focus{
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.424);
    outline: var(--theme-blue) solid 1px;
}

.item input{
    box-sizing: border-box;
    margin-right: 10%;
    margin-top: .5em;
    padding-left: 1em;
    height: 2em;
    border-radius: .5em;
    border: 1px solid var(--theme-blue);
    background: whitesmoke;
}

input[type="submit"]{
    width: 200px;
    height: 50px;
    font-family: inherit;
    font-size: 1.3em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: .5em;
    border: 1px solid #1F5D7C;
    background-color: #1F5D7C;
    color: whitesmoke;
}

input[type="submit"]:hover,
input[type="submit"]:active{
    border: 2px solid var(--theme-blue);
    background: #1f5d7c52;
    color: var(--theme-blue);
}

input[type="submit"] + p{
    padding-bottom: 2em;
}
